body {
  /* padding: 50px; */
  /* color: #2980b9; */
  background: #2c3e50;
  /* padding-top: 10px; */
  /* text-align: center; */
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overview-subtitle {
  font-size: 1rem;
  margin: 10px;
}

.fa {
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}

/* .overview:hover {
  border: 15px solid #4c678c;
  transform: scale(1.1);
  animation: ease-in(300);
} */
